@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'CassandraPersonalUseRegular';
    src: url('../public/fonts/CassandraPersonalUseRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }